#body {
    background-color: #000;
}

h1, h2, h3, h4 {
    font-family: Arial, sans-serif;
    color: #9e4545;
    margin: 20px 0;
}

h1 {
    color:#9e4545;
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

#menu h1 {
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

    .menu-description {
        font-size: 16px;
        line-height: 1.6;
        color: #aa8d8d;
    }

    p {
        color:#aa8d8d;
        line-height: 1.8;
    }

    p, h1, h2, h3, h4 {
        margin: 15px 0;
        padding: 0 10px;

    }

    #about h1 {
        text-align: center;
        margin: 0 auto;
    }


    #location h1 {
        text-align: center;
        margin: 0 auto;
    }


   span {
    color: #aa8d8d;
   }

   #note-description {
    color: white;
    font-weight: bold;
   }


#df-img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
/*error

#df-description {
text-align: center;
    }
*/
   


#site-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.social-media {
    display: flex; 
    justify-content: center; 
    margin-bottom: 15px;
}

.social-media a {
    display: inline-block; 
    margin: 0 10px; 
}

.social-icon {
    width: 40px; 
    height: 40px; 
    transition: transform 0.3s ease;
    object-fit: cover; 
}

.social-icon:hover {
    transform: scale(1.1); 
}


.copyright {
    font-size: 14px;
    margin-top: 10px;
}


/* error
#about-us-img, #about-us-img2 {
    display: flex;
    align-items: center;
    padding: 10px; }
    */